#box {
    max-width: 400px;
    height: auto;
    background-color: pink;
}

h2 {
    font-style: italic;
    font-weight: bolder;
    text-align: center;
}

fieldset {
    border: none;
}

#flight select {
    width: 160px;
    margin-right: 10px;
    margin-left: 10px;
}
.left {
    float: left;
}

.right {
    float: left;
}
input {
    width: 150px;
    margin-right: 10px;
    margin-left: 10px;
}
label {
    display: block;
    font-style:italic;
    font-size: 11px;
    margin-left: 10px;
}
input {
    width: 150px;
    margin-right: 10px;
    margin-left: 10px;
}
#refer-directs {
    float: left;
    margin-left: 120px;
}
#refer-label{
    float: left;
    margin-left: -80px;
}

.start-end-time {
    width: 80px;
    float: left;
    margin-right: 3px;
    margin-left: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
}
.numbers {
    width: 43px;
    float: left;
    margin-right: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
}

#choose {
    float: left;
    width: 5px;
    margin-left: 10px;
}
#choose select {
    width: 150px;
    margin-left: 10px;
    margin-bottom: 5px;
}