html {
    font-size: 100%;
}

.main-box {
    display: inline-block;
    border-top: dotted 5px yellow;
    border-right: solid 10px green;
    border-bottom: double 10px blue;
    border-left: dashed 5px red;

    padding: 20px;
    box-shadow: 12px 12px 7px  #444444;
    margin: 20px 20px 20px 20px;
}

.main-box h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-shadow: 20px 20px 20px #999999;
}

.main-box .border {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;

    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
}

.blue {
    border-color: blue;
}

.green {
    border-color: green;
}

.yellow {
    border-color: yellow;
}

.red {
    border-color: red;

    font-size: 24px;
    text-align: center;

    padding: 10px;
    position: relative;
}

div.border.red div:first-child{
    text-shadow: 5px 5px 5px #999999;
}

.border.red input{
    background-color: orange;

    border-color: darkorange;
    border-style: outset;
    border-width: 4px;

    padding: 3px;
    margin-top: 10px;

    text-align: center;
    font-size: 17px;
    text-shadow: 1px 1px 1px #999999;
}

.balloon, .balloon div{
    box-sizing: border-box;
    border-radius: 30px;
}

.balloon{
    display: inline-block;
    background-color: #A9A9A9;
    opacity: 0.8;
    color: #ffffff;
    padding: 3px;
    position: absolute;
}

.first {
    width: 18px;
    height: 18px;
}

.box1{
    right: 50px;
    bottom: 37px;
}

.second {
    width: 30px;
    height: 30px;
}

.box2{
    right: 7px;
    bottom: 70px;
}

.third{
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.box3{
    right: -100px;
    bottom: 6rem;
}

.balloon div{
    border: dashed 2px white;
}