body {
    background-color: #eee;
}

h2 {
    color: #1F4062;
    padding-top: 10px;
    padding-left: 10px;
}

#container {
    max-width: 600px;
    height: auto;
    background-color: #eee;
}
p {
    color: #939393;
    font-size: 10px;
    padding-left: 10px;
}
#new-user h5 {
    color: #757575;
}
span {
    color: #1F4062;
}

#register-user h5 {
    color: #fff;
}

#new-user {
    width: 280px;
    height: 250px;
    float: left;
    padding-left: 20px;
}

#register-user {
    width: 280px;
    height: 235px;
    float: left;
    padding-left: 20px;
    background-color: #234465;
    color: white;
}
form input {
    margin-bottom: 11px;
    width: 90%;
    height: 20px;
}
#remember {
    float: left;
    width: 10%;
    margin-left: -4px;
}
label {
    vertical-align: top;
    font-size: 14px;
}
a {
    clear: both;
    font-size: 11px;
    text-decoration: underline;
    color: white;
    float: right;
    padding-right: 25px;
}

#register-button {
    width: 40%;
    float: right;
    margin-right: 25px;
    height: 30px;
    border: 2px solid #234467;
    color: #234467;
    background-color: #eee;
}
#login-button {
    width: 30%;
    margin-right: 25px;
    height: 30px;
    border: 2px solid #C4841B;
    color: white;
    background-color: #234467;
    float: right;
}
#required {
    padding-left: 4px;
}